[Unit]
Description=Prometheus
After=network.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/home/prometheus/prometheus/prometheus\
  --config.file="/home/prometheus/prometheus/prometheus.yml"\
  --storage.tsdb.path="/home/prometheus/data"

[Install]
WantedBy=multi-user.target
